MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=86400
JWT_RESET_PASSWORD_EXPIRES_IN=900
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=604800
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=http://localhost:4200
SERVER_URL=http://localhost
API_VERSION=v1
PORT=3000
CACHE_TTL=5000
BCRYPT_SALT=12
