HOST=127.0.0.1
PORT=3000
API_VERSION=v1
MONGO_URI=mongodb://localhost:27017/NestAuth
CORS_ORIGIN=http://localhost:4200
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=86400
JWT_RESET_PASSWORD_EXPIRES_IN=900
REFRESH_TOKEN_SECRET=anothersecretkey
REFRESH_TOKEN_EXPIRES_IN=86400000
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=f42e11368bfc62
SMTP_PASS=36891b3205a360
BCRYPT_SALT=12
FRONTEND_URL=http://localhost:4200
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict
CACHE_TTL=5000